<form class="form-horizontal" ng-controller="DeptRelatedUserCtrl" name="PositionUser" bi-Form-Validate="PositionUser">
    <div class="form-group">
        <label class="col-sm-3 control-label">部门</label>
        <div class="col-sm-8">
            <span class="place-label" ng-bind="Dept.DeptName+(Dept.DeptCode&&('（'+Dept.DeptCode+'）'))"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label required-label">用户名：</label>
        <div class="col-sm-8">
            <select class="form-control" id="User" name="User" style="width:100%;" ng-model="editInfo.User" filter
                    ng-options="user.UserName group by user.DeptName for user in Users"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label required-label">职位：</label>
        <div class="col-sm-8">
            <select class="form-control" id="Position" name="Position" style="width:100%;" ng-model="Position" filter
                    ng-options="position.PositionName+(position.PositionCode&&('('+position.PositionCode+')')) for position in Positions"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label required-label">直属领导：</label>
        <div class="col-sm-8">
            <select class="form-control" id="Leader" name="Leader" style="width:100%;" ng-model="editInfo.Leader" filter
                    ng-options="user.UserName group by user.DeptName for user in Users"></select>
        </div>
    </div>
</form>
