<form ng-controller="PositionEditCtrl" class="form-horizontal" name="Position" bi-Form-Validate="PositionVM">
    <div class="form-group col-xs-12">
        <label class="control-label">
            所属部门：
        </label>
        <span ng-bind="editInfo.DeptName"></span>
        <span ng-if="editInfo.DeptCode">（{{editInfo.DeptCode}}）</span>
    </div>
    <div class="form-group col-xs-12">
        <label class="control-label required-label">
            职位名称：
        </label>
        <input type="text" name="PositionName" placeholder="职位名称不能为空" ng-model="editInfo.PositionName" ng-change="fnCheck(1)">
    </div>
    <div class="form-group col-xs-12">
        <label class="control-label required-label">
            职位代码：
        </label>
        <input type="text" name="PositionCode" readonly="readonly" placeholder="职位代码不能为空" ng-model="editInfo.PositionCode">
    </div>
    <!--<div class="form-group col-xs-6">
        <label class="control-label required-label">
            上级职位：
        </label>
        <select name="ParentID" placeholder="上级职位不能为空" class="form-control" filter ng-model="Parent" ng-options="positions.PositionName for positions in Positions"></select>
    </div>-->
    <div class="form-group col-xs-12">
        <label class="control-label">
            排序：
        </label>
        <input type="text" name="Sequence" placeholder="排序" ng-model="editInfo.Sequence">
    </div>

</form>
