<div ng-controller="TagContainerCloudCtrl">
    <div class="toolbar clearfix">
        <div class="pull-left col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="标签名称 | 代码" ng-change="fnInstantSearch()" ng-model="Params.Key">
                <span class="input-group-btn"><button type="button" class="btn btn-gray" ng-click="fnSearch()"><i class="fa fa-search"></i></button></span>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-white" ng-click="ShowDialog('add',app)">创建</button>
            <button class="btn btn-white" ng-click="fnSequence()">排序</button>
            <button class="btn btn-white" ng-click="fnDelete()">删除</button>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover" bi-checkbox="CheckConf" conf="CheckConf">
            <thead>
                <tr>
                    <th width="5%"><input type="checkbox"></th>
                    <th width="20%">标签名称</th>
                    <th width="20%">标签代码</th>
                    <th width="10%">排序</th>
                    <th width="45%">备注</th>
                </tr>
            </thead>
            <tbody class="sortable-table tbody-hover">
                <tr ng-repeat="tagClass in PageInfo.Items">
                    <td class="alignCenter"><input type="checkbox" ng-value="tagClass.ID"></td>
                    <td class="alignLeft">
                        <span>{{tagClass.ClassName}}</span>
                        <div class="icon-group">
                            <a href="javascript:;" class="icon-items fa fa-edit" data-toggle="tooltip" title="编辑" ng-click="ShowDialog('edit',tagClass)"></a>
                            <a href="javascript:;" class="icon-items fa fa-trash-o" data-toggle="tooltip" title="删除" ng-click="fnDelete(tagClass.ID)"></a>
                        </div>
                    </td>
                    <td ng-bind="tagClass.ClassCode"></td>
                    <td><input type="number" ng-model="tagClass.Sequence" ng-change="tagClass.SChanged=View.CanSort=1" /></td>
                    <td class="alignLeft">{{tagClass.Remark}}</td>
                </tr>
            </tbody>
        </table>
        <div bi-Pagination conf="PageConfig"></div>
    </div>
    <div bi-dialog src="System/Tag/cloud.edit.html" id="add" size="md" title="创建新标签"></div>
    <div bi-dialog src="System/Tag/cloud.edit.html" id="edit" size="md" title="编辑标签信息"></div>
</div>