<div class="contentpanel">
    <div class="personal-flex">
        <div class="personal-info-img">
            <i class="personal-mark personal-mark-xl background-x">肖俊日</i>
            <!-- <img src="Skin/DefaultSkin/images/loggeduser.png"> -->
        </div>
        <div class="personal-info-text">
            <h2>肖俊日</h2>
            <h3>软件开发部（<span>部门经理</span>）</h3>
            <ul>
                <li>等级：<em>中级</em></li>
                <li>积分：<em>234</em></li>
                <li>使用系统：<em>2</em>天</li>
            </ul>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    <span>40%</span>
                </div>
            </div>
            <span>升级还需<em>245</em>经验</span>
        </div>
        <div class="personal-badges">
            <ul>
                <li>
                    <img src="Skin/DefaultSkin/images/loggeduser.png">
                    <span>1</span>
                </li>
                <li>
                    <img src="Skin/DefaultSkin/images/loggeduser.png">
                    <span>1</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="personal-tabs">
        <div class="tabs">
            <ul class="nav nav-pills nav-tabs-default">
                <li class="active">基本信息</li>
                <li>头像设置</li>
                <li>联系信息</li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form class="form-horizontal form-floatnone">
                        <div class="form-group col-xs-4">
                            <label class="control-label">工号：</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label">生日：</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="control-label">性别：</label>
                            <div class="radio radio-inline radio-default">
                                <label>
                                    <input type="radio" name="radio3" checked="checked">男
                                    <i class="fa fa-circle-o"></i>
                                </label>
                                <label>
                                    <input type="radio" name="radio3">女
                                    <i class="fa fa-circle-o"></i>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label">居住地址：</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <button class="btn btn-green"><span>保存</span></button>
                    </form>
                </div>
                <div class="tab-pane img-crop">
                    <div class="img-crop-header">
                        <h2>修改头像</h2>
                        <p>头像主要用于列表显示，仅支持jpg，jpeg，gif，png格式</p>
                    </div>
                    <div class="img-crop-body">
                        <div class="img-crop-choose">
                            <div class="img-crop-input">
                                <button type="button" class="btn btn-gray">上传头像</button>
                                <input type="file" id="fileInput" data-toggle="tooltip" title="选择图片" />
                            </div>
                            <button type="button" class="btn btn-gray" data-toggle="modal" data-target="#takephoto" ng-click="openCamera()">摄像头拍照</button>
                        </div>
                        <div class="img-crop-box">
                            <div class="img-crop-imgarea">
                                <h2>个人秀大头像（预览）</h2>
                                <div class="cropArea">
                                    <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                                </div>
                            </div>
                            <div class="img-crop-imgview">
                                <h2>发言用的小头像（预览）</h2>
                                <img ng-src="{{myCroppedImage}}" width="80" height="80" />
                                <img ng-src="{{myCroppedImage}}" width="80" height="80" class="img-rounded" />
                                <img ng-src="{{myCroppedImage}}" width="80" height="80" class="img-circle" />
                                <p>图像尺寸：80X80像素</p>
                                <img ng-src="{{myCroppedImage}}" width="50" height="50" />
                                <img ng-src="{{myCroppedImage}}" width="50" height="50" class="img-rounded" />
                                <img ng-src="{{myCroppedImage}}" width="50" height="50" class="img-circle" />
                                <p>图像尺寸：50X50像素</p>
                            </div>
                        </div>
                        <div class="img-crop-btns">
                            <button class="btn btn-green btn-loading">保存设置<i class="fa fa-spinner"></i></button>
                            <button class="btn btn-white">取消</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane">
                    <form class="form-horizontal form-floatnone">
                        <div class="form-group">
                            <label class="control-label">公司邮箱：</label>
                            <span class="place-label">xiaojr@bitech.cn</span>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label">手机：</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label">工作电话：</label>
                            <div class="form-flex">
                                <input type="text" placeholder="区号" class="form-control" style="width:80px;">
                                <input type="text" placeholder="座机" class="form-control">
                                <input type="text" placeholder="分机" class="form-control">
                            </div>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label">QQ：</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="control-label">微信：</label>
                            <input type="text" placeholder="" class="form-control">
                        </div>
                        <button class="btn btn-green"><span>保存</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 摄像头弹出框 -->
    <div class="modal fade" id="takephoto">
        <div class="modal-dialog modal-dialog-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
                    <h4 class="modal-title">摄像头拍照</h4>
                </div>
                <div class="modal-body">
                    <div class="alignCenter">
                        <video id="takephoto" autoplay="" width="600" height="340" src="http://www.w3school.com.cn/i/movie.ogg">您的浏览器不支持 video 标签。</video>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="snap()">拍照</button>
                    <button type="button" class="btn btn-white" data-dismiss="modal" ng-click="closeCamera()">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 摄像头弹出框 -->


</div>

