<form class="wizard" ng-controller="AppEditCtrl" name="app" bi-Form-Validate="AppVM">
    <div class="form-group col-xs-6">
        <label class="control-label" for="AppName">
            应用名称：
        </label>
        <input type="text" id="AppName" name="AppName" class="form-control" ng-model="editInfo.App.AppName">
    </div>
    <div class="form-group col-xs-6">
        <label class="control-label" for="AppCode">
            应用代码：
        </label>
        <input type="text" id="AppCode" name="AppCode" class="form-control" ng-model="editInfo.App.AppCode">
    </div>
    <!--<div class="form-group col-xs-6">
        <label class="control-label" for="AppType">
            应用类型：
        </label>
        <select id="AppType" name="AppType" class="form-control" ng-model="AppType" ng-options="appType.TagName for appType in AppTypes"></select>
    </div>-->
    <div class="form-group col-xs-12">
        <label class="control-label">
            显示模式：
        </label>
        <div class="radio radio-inline radio-default">
            <label ng-repeat="mode in DisplayModes">
                <input type="radio" name="xsms" ng-model="editInfo.DisplayMode" ng-value="mode">{{mode.n}}
            </label>
        </div>
    </div>
    <div class="form-group col-xs-12" ng-hide="editInfo.DisplayMode.v!=1">
        <label class="control-label" for="NavUrl">
            导航区域：
        </label>
        <input type="text" id="NavUrl" name="NavUrl" class="form-control"
               ng-value="'System/Nav/index'"
               ng-model="editInfo.Menu.NavUrl">
    </div>
    <div class="form-group col-xs-12" ng-show="editInfo.DisplayMode.v!=2">
        <label class="control-label required-label" for="ContainerUrl">
            内容区域：
        </label>
        <input type="text" id="ContainerUrl" name="ContainerUrl" class="form-control"
               ng-model="editInfo.Menu.ContainerUrl">
    </div>
    <!--<div class="form-group" ng-show="editInfo.DisplayMode.v!=2">
        <label class="col-sm-3 control-label">内容条工具：</label>
        <div class="col-sm-8">
            <div class="radio radio-inline radio-default">
                <label>
                    <input type="radio" name="nrgjt" ng-model="editInfo.IsToolbar" ng-value="false">无
                    <i class="fa fa-circle-o"></i>
                </label>
                <label>
                    <input type="radio" name="nrgjt" ng-model="editInfo.IsToolbar" ng-value="true">有
                    <i class="fa fa-circle-o"></i>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="editInfo.IsToolbar&&editInfo.DisplayMode.v!=2">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-8">
            <input ng-model="editInfo.Menu.ToolBarUrl" class="form-control" />
        </div>
    </div>-->
    <div class="form-group col-xs-10" ng-show="editInfo.DisplayMode.v==2">
        <label class="control-label required-label" for="OutsideUrl">
            链接地址：
        </label>
        <input type="text" id="OutsideUrl" name="OutsideUrl" class="form-control"
               ng-value="'http://'"
               ng-model="editInfo.Menu.OutsideUrl">
    </div>
    <div class="form-group col-xs-2" ng-show="editInfo.DisplayMode.v==2">
        <label class="control-label">
        </label>
        <label for="IsPopUp">
            <input type="checkbox" id="IsPopUp" name="IsPopUp" class="form-control"
                   ng-model="editInfo.Menu.IsPopUp">新窗口
        </label>
    </div>
    <div class="form-group col-xs-12">
        <label class="control-label" for="Remark">
            应用说明：
        </label>
        <textarea id="Remark" name="Remark" class="form-control" ng-model="editInfo.App.Remark"></textarea>
    </div>
</form>