<div ng-controller="GroupUserContainerCtrl">
    <div class="toolbar clearfix">
        <div class="pull-left">
            <span>该角色共有<strong class="dangger" ng-bind="Info.UserCount"></strong>个用户</span>
        </div>
        <div class="pull-right">
            <a href="javascript:;" ng-click="fnRelateduser()">[关联更多用户]</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="30%">用户姓名</th>
                    <th width="40%">所属部门</th>
                    <th width="25%">关联时间</th>
                </tr>
            </thead>
            <tbody class="sortable-table tbody-hover">
                <tr ng-repeat="user in PageInfo.Items">
                    <td ng-bind="$index+1"></td>
                    <td class="alignLeft">
                        <span>{{user.Account.RealName}}（{{user.LoginName}}）</span>
                        <div class="icon-group">
                            <a href="javascript:;" class="icon-items fa fa-trash-o" data-toggle="tooltip" title="移除" ng-click="$event.stopPropagation();fnDelete(user.ID)"></a>
                        </div>
                    </td>
                    <td class="alignLeft">
                        <div ng-repeat="position in user.Positions">
                            {{position.DeptName}}
                            <span ng-if="position.PositionName" ng-bind="'('+position.PositionName+')'"></span>
                            <span class="danger" ng-if="!position.IsValid">已停用</span>
                        </div>
                    </td>
                    <td>{{user.Account.InputTime | date:'yyyy-MM-dd HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
        <div bi-Pagination conf="PageConfig"></div>
    </div>
    <div bi-dialog src="System/Group/group.relateduser.html" id="relatedUser" size="sm" title="关联新用户" />
</div>