<form ng-controller="GroupEditCtrl" class="form-horizontal" name="Group" bi-Form-Validate="GroupVM">
    <div class="form-group col-xs-6">
        <label class="control-label" for="GroupName">
            角色名称：
        </label>
        <input type="text" id="GroupName" name="GroupName" class="form-control" ng-model="editInfo.GroupName" ng-change="fnCheck(1)">
    </div>
    <div class="form-group col-xs-6">
        <label class="control-label" for="GroupCode">
            角色代码：
        </label>
        <input type="text" id="GroupCode" name="GroupCode" readonly="readonly" class="form-control" ng-model="editInfo.GroupCode" ng-change="fnCheck()">
    </div>
    <!--<div class="form-group col-xs-6">
        <label class="control-label" for="GroupTypeID">
            角色分组：
        </label>
        <select id="GroupTypeID" name="GroupTypeID" class="form-control" ng-model="editInfo.GroupTypeID" ng-options="m.Value as m.Description for m in GroupTypes">
        </select>
    </div>
    <div class="form-group col-xs-6">
        <label class="control-label">排序号：</label>
        <input type="text" class="form-control" ng-model="editInfo.Sequence">
    </div>-->
    <div class="form-group col-xs-12">
        <label class="control-label">备注：</label>
        <textarea class="form-control" ng-model="editInfo.Remark"></textarea>
    </div>
</form>