<div ng-controller="AclContainerFilterCtrl">
    <p class="subinfo">
        该操作域共拥有<span class="dangger">{{PageInfo ? PageInfo.TotalItems : 0}}</span>个筛选器
        <a href="javascript:;" ng-click="ShowDialog('add', Info)">[添加筛选器]</a>
    </p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="25%">筛选器名称</th>
                    <th width="25%">筛选器代码</th>
                    <th width="45%">访问权限</th>
                </tr>
            </thead>
            <tbody class="sortable-table tbody-hover">
                <tr ng-repeat="filter in PageInfo.Items">
                    <td ng-bind="$index+1"></td>
                    <td class="alignLeft">
                        <span>{{filter.FilterName}}</span>
                        <div class="icon-group">
                            <a href="javascript:;" class="icon-items fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="编辑" ng-click="$event.stopPropagation();ShowDialog('edit', filter)"></a>
                            <a href="javascript:;" class="icon-items fa fa-lock" data-toggle="tooltip" data-placement="bottom" title="权限" ng-click="$event.stopPropagation();ShowDialog('group',filter)"></a>
                            <a href="javascript:;" class="icon-items fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="删除" ng-click="$event.stopPropagation();fnDelete(filter.ID)"></a>
                        </div>
                    </td>
                    <td class="alignLeft">{{filter.FilterCode}}</td>
                    <td class="alignLeft">
                        <p ng-repeat="group in filter.FilterGroups">{{group.GroupName}}（{{group.GroupCode}}）</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div bi-Pagination conf="PageConfig"></div>
    </div>

    <div bi-dialog src="System/Acl/acl.relatedfilter.html" id="add" size="lg" title="创建新筛选器" />
    <div bi-dialog src="System/Acl/acl.relatedfilter.html" id="edit" size="lg" title="编辑筛选器信息" />
    <div bi-dialog src="System/Acl/acl.groupfilter.html" id="group" title="角色权限" size="md" />
</div>