<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.18.0" targetFramework="net461" />
  <package id="BIFramework" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Auth" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Cache" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Data" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Data.Sql2005" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Domain" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Domain.EntityFramework" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Institution" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Log" version="7.0.4" targetFramework="net461" />
  <package id="BIFramework.MQ" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Permission" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Tag" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Tenant" version="7.0.5" targetFramework="net461" />
  <package id="BIFramework.Utils" version="7.0.5" targetFramework="net461" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net461" />
  <package id="Dapper" version="1.50.0-beta8" targetFramework="net461" />
  <package id="EmitMapper" version="1.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net45" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NetMQ" version="3.3.2.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net461" />
  <package id="StackExchange.Redis" version="1.0.488" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net461" />
  <package id="Unity" version="4.0.1" targetFramework="net461" />
  <package id="Unity.Interception" version="4.0.1" targetFramework="net461" />
</packages>