<form ng-controller="AccountEditCtrl" class="form-horizontal" name="Account" bi-Form-Validate="AccountVM">
    <div class="form-group col-xs-6">
        <label class="control-label" for="RealName">
            真实姓名：
        </label>
        <input type="text" id="RealName" name="RealName" class="form-control" ng-model="editInfo.RealName" ng-change="fnCheck(1)">
    </div>
    <div class="form-group col-xs-6">
        <label class="control-label" for="UserName">
            用户名：
        </label>
        <input type="text" id="UserName" name="UserName" readonly="readonly" class="form-control" ng-model="editInfo.UserName" ng-change="fnCheck()">
    </div>

    <div class="form-group">
        <label class="control-label" for="dept">
            部门：
        </label>
        <select class="form-control" style="width:100%;" id="dept" name="dept" ng-model="Depted" multiple="multiple" ng-options="dept.DeptName for dept in Depts"></select>
    </div>

    <div class="form-group">
        <label class="control-label">
            部门职位：
        </label>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="8%">序号</th>
                    <th width="40%">部门</th>
                    <th width="40%">职位</th>
                    <th width="12%">直属</th>
                </tr>
            </thead>
            <tbody class="sortable-table tbody-hover">
                <tr ng-repeat="dept in Depted">
                    <td class="alignCenter" ng-bind="$index+1"></td>
                    <td class="alignLeft" ng-bind="dept.DeptName"></td>
                    <td class="alignLeft">
                        <select class="form-control" style="width:100%;" ng-model="dept.Position" ng-options="position.TagName for position in Positions" filter></select>
                    </td>
                    <td class="alignCenter"><input type="radio" name="isPartTime" ng-model="editInfo.MainSuties" ng-value="dept" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group col-xs-6">
        <label class="control-label" for="Mobile">手机号：</label>
        <input type="text" id="Mobile" name="Mobile" class="form-control" ng-model="editInfo.Mobile">
    </div>

    <div class="form-group col-xs-6">
        <label class="control-label" for="Email">邮箱：</label>
        <input type="text" id="Email" name="Email" class="form-control" ng-model="editInfo.Email">
    </div>
</form>
