<style type="text/css">
    <!--
    div[ng-controller="AccountContainerCtrl"] table td {
        text-align: left;
    }

        div[ng-controller="AccountContainerCtrl"] table td.alignCenter {
            text-align: center;
        }
    -->
</style>
<div ng-controller="AccountContainerCtrl">
    <div class="header-bar">
        <div class="input-group pull-left">
            <input type="text" class="form-control" placeholder="输入关键字" ng-change="fnInstantSearch()" ng-model="Params.Key">
            <span class="input-group-btn">
                <button type="button" class="btn btn-gray btn-search" ng-click="fnSearch()">查询</button>
                <button type="button" class="btn btn-gray btn-search" ng-click="fnShowSearch($event, 'search')"><i class="fa fa-search-plus"></i></button>
            </span>
        </div>

        <div class="header-toolbar pull-right">
            <button class="btn btn-white" ng-click="fnLogout()" ng-bind="isValid?'注销':'启用'"></button>
            <button class="btn btn-white" ng-if="!isValid" ng-click="fnDelete()">删除</button>
        </div>
        <div class="help-info">
            <a href="javascript:;" class="fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="帮助中心"></a>
        </div>
    </div>
    <div class="contentpanel">
        <div class="table-responsive">
            <table class="table table-bordered table-hover" bi-checkbox="CheckConf">
                <thead>
                    <tr>
                        <th width="5%"><input type="checkbox"></th>
                        <th width="16%">姓名</th>
                        <th width="16%">用户名</th>
                        <th width="20%">电子邮件</th>
                        <th width="20%">上次登录时间</th>
                        <th width="23%">所属部门</th>
                    </tr>
                </thead>
                <tbody class="sortable-table tbody-hover">
                    <tr ng-click="fnShowSlider($event, user.Account)" ng-repeat="user in PageInfo.Items">
                        <td class="alignCenter"><input type="checkbox" ng-disabled="'System'===user.LoginName" ng-value="user.Account.ID"></td>
                        <td>
                            <span ng-bind="user.Account.RealName"></span>
                            <div class="icon-group">
                                <a href="javascript:;" class="icon-items fa fa-edit" data-toggle="tooltip" title="编辑" ng-if="user.IsValid" ng-click="ShowDialog('edit',user.Account)"></a>
                                <a href="javascript:;" class="icon-items fa fa-trash-o" data-toggle="tooltip" title="删除" ng-if="!user.IsValid" ng-click="fnDelete(user.Account.ID)"></a>
                            </div>
                        </td>
                        <td>
                            {{user.LoginName}}
                            <span class="danger" ng-if="user.IsLocked">
                                <a href="javascript:;" data-toggle="tooltip" class="fa fa-lock" title="已锁定" ng-click="fnUnlock(user)"></a>
                            </span>
                        </td>
                        <td class="alignCenter" ng-bind="user.Account.Email"></td>
                        <td class="alignCenter">{{user.LastLoginTime | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td>
                            <div ng-repeat="position in user.Positions">
                                {{position.DeptName}}
                                <span ng-if="position.PositionName" ng-bind="'('+position.PositionName+')'"></span>
                                <span class="danger" ng-if="!position.IsValid">已停用</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div bi-Pagination conf="PageConfig"></div>
        </div>
    </div>

    <div bi-dialog src="System/Account/account.edit.html" id="edit" size="md" title="编辑用户信息"></div>
    <div bi-dialog src="System/Account/account.slider.html" id="slider" />
    <div bi-dialog src="System/Account/account.search.html" id="search" size="search-panel-sm" />
</div>
