<div ng-controller="AccountContainerCtrl">
    <div class="header-bar">
        <div class="header-toolbar">
            <button class="btn btn-primary" ng-click="ShowDialog()"><i class="fa fa-pencil-square-o"></i><span>新建用户</span></button>
            <button class="btn btn-white" ng-click="ShowDialog('import')">批量导入</button>
            <button class="btn btn-white" ng-click="fnLogout()">注销</button>
        </div>
        <div class="help-info">
            <a href="" class="fa fa-question-circle" data-toggle="tooltip" data-placement="left" title="帮助中心"></a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="输入关键字" ng-change="fnSearch()" ng-model="Params.Key">
            <span class="fa fa-search" data-search=".search1" ng-click="fnSearch()"></span>
        </div>
    </div>
    <div class="contentpanel">
        <div class="table-responsive">
            <table class="table table-bordered" bi-checkbox="CheckConf" conf="CheckConf">
                <thead>
                    <tr>
                        <td width="3%"><input type="checkbox" isall/></td>
                        <th width="5%">序号</th>
                        <th width="20%" class="alignLeft">用户名称</th>
                        <th width="30%" class="alignLeft">电子邮件</th>
                        <th width="20%">上次登录时间</th>
                        <th width="10%">状态</th>
                        <th width="12%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in PageInfo.Items">
                        <td><input type="checkbox" ng-value="user.ID" /></td>
                        <td>{{$index+1}}</td>
                        <td class="alignLeft">{{user.RealName}}（{{user.LoginName}}）</td>
                        <td class="alignLeft">{{user.Email}}</td>
                        <td>{{user.LastLoginTime | date:'yyyy-MM-dd HH:mm'}}</td>
                        <td><span ng-show="user.IsValid">有效</span><span ng-hide="user.IsValid">无效</span></td>
                        <td>
                            <div class="icon-group">
                                <a href="javascript:;" class="icon-items fa fa-edit" data-toggle="tooltip" data-placement="bottom" title="编辑" ng-click="ShowDialog(user)"></a>
                                <a href="javascript:;" class="icon-items fa fa-trash-o" data-toggle="tooltip" data-placement="bottom" title="删除"></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div bi-Pagination conf="PageConfig"></div>
        </div>
    </div>

    <div bi-dialog src="System/Account/account.edit.html" id="edit" class="modal fade bs-modal-sm" />
    <div bi-dialog src="System/Account/account.import.html" id="import" class="modal fade bs-modal-sm" />
</div>
