<div ng-controller="AccountNavCtrl">
    <div class="convenient-btns">
        <button class="btn btn-white" ng-click="ShowDialog()" data-quickcreate>
            <i class="fa fa-plus-square"></i><span>创建</span>
        </button>
        <button class="btn btn-white" ng-click="ShowDialog('import')">
            <i class="fa fa-sign-in"></i><span>导入</span>
        </button>
    </div>

    <h2 class="open-subtitle">按状态列表</h2>
    <div class="nav-list">
        <ul>
            <li ng-repeat="s in Status" ng-class="{active:s===Search.Active}">
                <a href="javascript:;" ng-click="fnSelect(s,s.Name)" ng-bind="s.Name"></a>
            </li>
        </ul>
    </div>

    <div bi-dialog src="System/Account/account.edit.html" size="md" title="创建新用户" />
    <div bi-dialog src="System/Account/account.import.html" id="import" size="sm" title="批量导入用户" />
</div>
